$white: #eaeaea;
$grey: #313130;
$sand: #efdac6;
$breakpoint-tablet: 860px;

.container {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.title {
  color: $grey;
  font-size: 5rem;
}
