$grey:#313130;
$white: #eaeaea;
$breakpoint-tablet: 860px;

.header {
  align-items: center;
  background-color: $grey;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 0 60px;
  }

  &__hamburger_icon img {
    cursor: pointer;
    height: 1.6;
    transition-duration: .3s ease;
    width: 1.5rem;

    @media screen and (min-width: $breakpoint-tablet) {
      width: 2.2rem;
    }
  }

  &__hamburger-icon-close img {
    cursor: pointer;
    height: 1.4rem;
    transition-duration: .3s ease;
    width: 1.5rem;

    @media screen and (min-width: $breakpoint-tablet) {
      height: 2rem;
      width: 2.2rem;
    }
  }

  &__sumus_logo img {
    height: 28px;
    width: 180px;

    @media screen and (min-width: $breakpoint-tablet) {
      height: 42px;
      width: 219px;
    }
  }

  &__logo_shop img {
    height: 30px;
    width: 23px;

    @media screen and (min-width: $breakpoint-tablet) {
      height: 46px;
      width: 36px;
    }
  }

  &__productos, &__nosotros {
    display: none;

    @media screen and (min-width: $breakpoint-tablet) {
      color: $white;
      display: block;
      font-family: 'Roboto Mono', monospace;
      font-size: 18px;
      text-transform: uppercase;
    }

  }
}
